{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Sitio web con Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"
</head>
<body>
    <h1>Sitio web con Django</h1>
    <hr>
    <ul>
        <li><a href="/inicio">Inicio</a>
        <li><a href="/hola-mundo">Hola mundo</a>
        <li><a href="/pagina-pruebas">Pagina</a>
        <li><a href="/contacto">Contactos</a>
    </ul>
    <hr>

    <div id="content">
        {% block content%}
            <!--Código que viene de templates-->
            <strong>Contenido del bloque original</strong>
        {% endblock %}
    </div>
    
    <hr>
    <footer>
        Master en python &copy; Carlos Villarroel
    </footer>
</body>
</html>